
main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .restaurant-list-item {
    border-bottom: 2px dashed #2b2b2b;
    margin-top: 30px;
    padding-bottom: 10px;
  }